.task-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.task-table th,
.task-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.task-table th {
  background-color: #f4f4f4;
}
.completed td {
  text-decoration: line-through;
  color: #888;
}
.task-table input[type="checkbox"] {
  cursor: pointer;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}
div {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}
h1 {
  color: #333;
  margin-bottom: 10px;
}
h2 {
  color: #555;
}
.quote-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.todo-inputform {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}
.todo-inputform input {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: calc(100% - 22px);
  margin-bottom: 10px;
}
.todo-inputform button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}
.todo-inputform button:hover {
  background-color: #0056b3;
}
.todo-inputform button:active {
  background-color: #a0117c;
}
.task-list {
  list-style-type: none;
  padding: 0;
}
.task-item {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-item button {
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}
.task-item button:hover {
  background-color: #c82333;
}
